.popup__container {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  max-width: 430px;
  box-sizing: border-box;
  position: relative;
}

.popup_type_modal .popup__container {
  background: none;
  padding: 0;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}