.profile__edit {
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.3s ease-in-out;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  background: #000 url('../../../images/profile__edit.svg') center no-repeat;
  font-size: 0; /* Скрываем текст */
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}