.profile__add-button {
  display: flex;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  background: #000 url('../../../images/add-button.svg') center no-repeat;
  font-size: 0; /* Скрываем текст */
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 100%;
  }
}