.form__submit {
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0 18px;
  margin-top: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
    margin-top: 15px;
  }
}