.popup__submit {
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0 18px;
  margin-top: 18px;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
    margin-top: 15px;
  }
}