.photo-grid__like {
  position: absolute;
  right: 20px;
  bottom: 35px;
  transition: opacity 0.3s ease-in-out;
  width: 22px;
  height: 19px;
  background: url('../../../images/photo-grid__like.svg') center no-repeat;
  font-size: 0; /* Скрываем текст */
  border: none;
  cursor: pointer;
}

.photo-grid__like:hover {
  opacity: .5;
}