@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);

/* Header Styles */
@import url(../blocks/header/header.css);

/* Content Styles */
@import url(../blocks/content/content.css);

/* Profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__edit/profile__edit.css);

@import url(../blocks/add-button/add-button.css);

/* Places */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__pic/photo-grid__pic.css);
@import url(../blocks/photo-grid/__title/photo-grid__title.css);
@import url(../blocks/photo-grid/__like/photo-grid__like.css);
@import url(../blocks/photo-grid/__like/_active/photo-grid__like_active.css);

/* Footer */
@import url(../blocks/footer/footer.css);

/* Popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__close/popup__close.css);