.profile__info {
  display: grid;
  grid-template-columns: fit-content(80%) min-content;
  flex-grow: 1;
  margin: 0 30px;
  column-gap: 18px;
  row-gap: 16px;
  position: relative;
  
}

@media screen and (max-width: 600px) {
  .profile__info {
    grid-template-columns: 1fr min-content;
    margin: 26px 0 36px;
    row-gap: 14px;
    text-align: center;
  }
}