.profile__job {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}